*,
*::before,
*::after {outline:none; box-sizing:border-box}

html {min-width:360px}

body {min-width:360px; margin:0; padding:0; font:18px/27px Averta, sans-serif; color:#222222; background:#ffffff; -webkit-text-size-adjust:100%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; overflow-anchor:none}

a {color:#000000; text-decoration:none; transition:color 0.2s}
a:hover {color:#e43f6f}

img {border:none; max-width:100%; height:auto}
iframe {border:none; max-width:100%}

::-ms-clear {display:none}

strong, b {font-weight:600}

h1 {font-weight:600; font-size:80px; line-height:98px; margin:112px 0 48px 0; padding:0; color:#000000}
h2 {font-weight:600; font-size:56px; line-height:62px; margin:96px 0 48px 0; padding:0; color:#000000}
h2 sup {display:inline-block; vertical-align:top; color:#93979b; margin:-13px 0 0 12px; font-size:28px}
h3 {font-weight:600; font-size:44px; line-height:53px; letter-spacing:0.02em; margin:64px 0 32px 0; padding:0; color:#000000}
h4 {font-weight:600; font-size:40px; line-height:48px; margin:64px 0 32px 0; padding:0; color:#000000}
h5 {font-weight:600; font-size:24px; line-height:30px; margin:48px 0 32px 0; padding:0; color:#000000}
h6 {font-weight:600; font-size:20px; line-height:25px; margin:32px 0 16px 0; padding:0}
p {margin:32px 0; padding:0}
ul {margin:16px 0; padding:0; list-style:none}
p+ul {margin-top:-16px}
h5+ul {margin-top:-8px}
ul li {margin:16px 0; padding:0 0 0 28px; position:relative}
ul li::before {content:""; display:block; width:4px; height:4px; position:absolute; left:0; top:13px; background:#222222; border-radius:50%}
ol {margin:16px 0; padding:0; list-style:none; counter-reset:point}
p+ol {margin-top:-16px}
ol li {margin:16px 0; padding:0 0 0 28px; position:relative}
ol li::before {content:counter(point)'.'; counter-increment:point 1; position:absolute; left:0; top:0; width:auto; height:auto; background:none; border-radius:0}
ol ol {counter-reset:subpoint}
ol ol li::before {content:counter(point)'.'counter(subpoint); counter-increment:subpoint 1}
.anonce-text {font-size:22px; line-height:31px}

.btn {display:inline-block; vertical-align:top; margin:0; padding:14px 40px; overflow:visible; outline:none; text-decoration:none; background:#000000; color:#ffffff; border:none; border-radius:8px; font:600 16px/20px Averta, sans-serif; letter-spacing:0; text-transform:none; text-align:center; position:relative; -webkit-appearance:none; cursor:pointer; transition:background 0.2s, color 0.2s; box-sizing:border-box}
.btn:hover {background:#e43f6f; color:#ffffff}
.btn:active {background:#e01451; color:#ffffff}
.btn::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; border-radius:8px; border:3px solid #e43f6f; opacity:0; transition:opacity 0.2s}
.btn:focus::after {opacity:1}

.btn.big {padding:23px 40px; font-size:18px; line-height:18px}

.btn.inverse {background:#ffffff; color:#000000}
.btn.inverse:hover {color:#e43f6f}
.btn.inverse:active {color:#e01451}
.btn.inverse::after {border-color:#222222}

.btn.green {background:#12aa73; color:#ffffff}
.btn.green:hover {background:#0f9464; color:#ffffff}
.btn.green:active {background:#0e865a; color:#ffffff}
.btn.green::after {border-color:#e43f6f}

.btn.orange {background:#ff8a48; color:#ffffff}
.btn.orange:hover {background:#e77332; color:#ffffff}
.btn.orange:active {background:#e46d29; color:#ffffff}
.btn.orange::after {border-color:#e43f6f}

.btn.purple {background:#825c99; color:#ffffff}
.btn.purple:hover {background:#6f4788; color:#ffffff}
.btn.purple:active {background:#603978; color:#ffffff}
.btn.purple::after {border-color:#e43f6f}

.btn.red {background:#f3665c; color:#ffffff}
.btn.red:hover {background:#ee5146; color:#ffffff}
.btn.red:active {background:#dd463c; color:#ffffff}
.btn.red::after {border-color:#222222}

.btn.rose {background:#e43f6f; color:#ffffff}
.btn.rose:hover {background:#ee1657; color:#ffffff}
.btn.rose:active {background:#e01451; color:#ffffff}
.btn.rose::after {border-color:#222222}

.form-input {position:relative; margin:24px 0}
.form-input span {position:absolute; left:24px; top:21px; font-size:18px; line-height:22px; color:#a0b1ba; transition:all 0.2s; z-index:1; pointer-events:none}
.form-input.focus span,
.form-input.full span {font-size:14px; line-height:14px; top:12px; color:#274b5d}
.form-input:hover span {color:#274b5d}
.form-input input,
.form-input textarea {position:relative; border:1px solid #ffffff; font:16px/22px Averta, sans-serif; color:#5e7480; vertical-align:top; margin:0; padding:29px 23px 11px 23px; width:100%; height:64px; box-sizing:border-box; outline:none; border-radius:4px; background:#ffffff; -webkit-appearance:none; transition:border-color 0.2s, color 0.2s}
.form-input textarea {height:128px; resize:none; overflow:auto}
.form-input:hover input,
.form-input:hover textarea {border-color:rgba(0, 0, 0, 0.15); color:#274b5d}
.form-input input:focus,
.form-input textarea:focus {border-color:#222222; color:#274b5d}
.form-input input.error,
.form-input textarea.error {border-color:#f3665c}
label.error {display:block; margin:8px 0 0 24px; font-size:14px; line-height:14px; color:#f3665c}

.form-input input:-webkit-autofill,
.form-input input:-webkit-autofill:active,
.form-input input:-webkit-autofill:focus,
.form-input input:-webkit-autofill:hover {-webkit-text-fill-color:#274b5d; caret-color:#274b5d; -webkit-transition:background-color 999999s ease-in-out 0s; transition:background-color 999999s ease-in-out 0s}

.form-submit {margin:24px 0}
.form-submit .btn {display:block; width:100%}
.form-notice {margin:24px 0 0 0; text-align:center; font-size:16px; line-height:22px; color:#93979b}

.container {max-width:1160px; margin:0 auto; padding:0 16px}
.container::after {content:""; display:block; clear:both}

.wrapper {width:100%; min-width:360px; position:relative; overflow:hidden; padding:98px 0 0 0}

.header {position:fixed; left:0; top:0; right:0; height:98px; z-index:999; background:#ffffff}
.header-always-fixed .header::after,
.header.fixed::after {content:""; display:block; position:absolute; left:0; bottom:-36px; right:0; height:36px; background:linear-gradient(180deg, rgba(238, 241, 243, 0.55) 0%, rgba(238, 241, 243, 0.349479) 20.83%, rgba(238, 241, 243, 0.103464) 50.52%, rgba(238, 241, 243, 0) 100%); pointer-events:none}

.logo {float:left; line-height:0; margin:30px 0 0 0}
.logo a {display:block}
.logo img {display:block; width:170px; height:34px}

.header-phone {float:right; margin:26px -12px 0 0; padding:0 12px; height:47px; line-height:47px}

.nav {float:right; margin:26px 16px 0 0}
.nav ul {float:left; margin:0; padding:0; list-style:none}
.nav ul li {float:left; margin:0 0 0 16px; padding:0; position:relative}
.nav ul li:first-child {margin:0}
.nav ul li::before {display:none}
.nav ul li a {display:block; padding:0 12px; height:47px; line-height:47px}

.footer {margin:112px 0 0 0}

.footer-content::after {content:""; display:block; clear:both}

.footer-contacts {float:left; clear:left; width:245px}
.footer-logo {line-height:0}
.footer-logo img {display:block; width:170px; height:34px}
.footer-address {margin:25px 0 0 0; border-top:1px solid #e5e6e8; border-bottom:1px solid #e5e6e8; padding:10px 0 16px 0; font-size:16px; line-height:22px}
.footer-contacts-text {margin:7px 0 0 0; font-size:22px; line-height:31px}
.footer-contacts-text a {color:#222222}
.footer-contacts-text a:hover {color:#e43f6f}
.footer-contacts-row {margin:4px 0 0 0}
.footer-menu {float:right; clear:right; width:550px; margin:18px 0 0 0}
.footer-menu-services {float:left; width:360px}
.footer-menu-services-title {font-size:16px; line-height:22px}
.footer-menu-services-menu {margin:23px 0 0 0; border-top:1px solid #e5e6e8; font-size:14px; line-height:17px; letter-spacing:0.015em; padding:13px 0 0 0}
.footer-menu-services-menu ul {margin:0 0 -16px 0; column-count:2; column-gap:24px}
.footer-menu-services-menu ul li {margin:0; padding:0 0 16px 0; -webkit-column-break-inside:avoid; page-break-inside:avoid; break-inside:avoid; break-inside:avoid-column}
.footer-menu-services-menu ul li::before {display:none}
.footer-menu-all {float:right; font-size:16px; line-height:22px}
.footer-menu-all ul {margin:0}
.footer-menu-all ul li {margin:14px 0 0 0; padding:0}
.footer-menu-all ul li:first-child {margin:0}
.footer-menu-all ul li::before {display:none}
.footer-social {float:left; clear:left; width:245px; margin:39px 0 0 0}
.footer-social a {float:left; margin:0 0 0 20px; width:32px}
.footer-social a:first-child {margin:0}
.footer-social a svg {display:block; width:32px; height:32px; fill:#000000; transition:fill 0.2s}
.footer-social a:hover svg {fill:#e43f6f}

.footer-bottom {margin:95px 0 0 0; padding:24px 0; border-top:1px solid #e5e6e8; font-size:14px; line-height:14px; color:#000000}
.footer-bottom::after {content:""; display:block; clear:both}
.footer-bottom-left {float:left}
.footer-copyrights {float:left}
.footer-link {float:left; margin:0 0 0 18px}
.footer-link a:hover {color:#85888b}
.footer-bottom-data {float:left; clear:left; margin:9px 0 0 0}
.footer-bottom-data-item {float:left; margin:0 0 0 27px}
.footer-bottom-data-item:first-child {margin:0}
.footer-developer {float:right; color:#93979b}

.order {margin:48px -226px 0 -226px; padding:64px 226px; background:#222222; border-radius:32px}
.order::after {content:""; display:block; clear:both}
.order-img {float:right; width:360px; line-height:0}
.order-img img {display:block; width:100%}
.order-content {float:left; width:557px; padding:20px 0 0 0}
.order-content h4 {margin:0; color:#eef1f3; max-width:537px}
.order-text {margin:24px 0 0 0; font-size:20px; line-height:25px; color:rgba(255, 255, 255, 0.6)}
.order-btn {margin:48px 0 0 0}

.main-welcome {margin:112px 0 0 0}
.main-welcome::after {content:""; display:block; clear:both}
.main-welcome-img {float:right; width:320px; line-height:0}
.main-welcome-img img {display:block; width:100%}
.main-welcome-content {float:left; width:744px}
.main-welcome-content h1 {margin:0; font-size:56px; line-height:62px}
.main-welcome-text {margin:32px 0 0 0; max-width:648px; font-size:22px; line-height:31px}
.main-welcome-btn {margin:48px 0 0 0}

.main-achives {margin:96px 0 0 0; border-top:1px solid #222222; padding:42px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px}
.main-achives-item {display:inline-block; vertical-align:top; width:216px; padding:14px 0 0 0}
.main-achives-item+.main-achives-item {margin:0 0 0 73px}
.main-achives-item-title {color:#000000; font-weight:600; font-size:44px; line-height:53px; letter-spacing:0}
.main-achives-item-title span {font-size:56px; line-height:62px}
.main-achives-item-text {margin:6px 0 0 0; font-size:18px; line-height:27px; letter-spacing:0.02em; color:rgba(34, 34, 34, 0.8)}
.main-achives-item-big {margin:0 50px 0 0; width:auto; padding:0}
.main-achives-item-value {display:inline-block; vertical-align:top; font-size:146px; line-height:146px; letter-spacing:-0.04em; color:#000000}
.main-achives-item-value-more {display:inline-block; vertical-align:top; margin:12px 0 0 6px; font-weight:600; font-size:56px; line-height:62px; letter-spacing:-0.04em; color:#000000}
.main-achives-item-big-text {display:inline-block; vertical-align:top; margin:21px 0 0 17px}

.main-services {margin:112px -226px 0 -226px; padding:40px 214px 64px 214px; background:#eef1f3; border-radius:32px}
.main-services::after {content:""; display:block; clear:both}
.main-services-item {float:left; width:33.33%; padding:24px 12px 0 12px}
.main-services-item-inner {position:relative; padding:29px 40px 68px 20px; background:#ffffff; border-radius:10px; min-height:272px}
.main-services-item-inner::after {content:""; display:block; clear:both}
.main-services-item-big-vertical .main-services-item-inner {min-height:568px}
.main-services-item-big-horizontal {width:66.66%}
.main-services-item-title {font-weight:600; font-size:24px; line-height:30px; color:#000000; padding:0 51px 0 0}
.main-services-item-big-horizontal .main-services-item-title {float:left; width:50%; padding:0 24px 0 0}
.main-services-item-icon {position:absolute; right:28px; top:20px}
.main-services-item-icon img {display:block; width:48px; height:48px}
.main-services-item-link {position:absolute; left:24px; bottom:24px; font-weight:600; font-size:16px; line-height:20px; color:#2586de}
.main-services-item-link a {color:#2586de}
.main-services-item-link a:hover {color:#e43f6f}
.main-services-item-text {margin:28px 0 0 0; font-size:16px; line-height:22px; color:#85888b}
.main-services-item-big-horizontal .main-services-item-text {float:left; width:50%; padding:0 61px 0 22px; margin:0}
.main-services-item-link span {display:block; font-weight:normal; font-size:14px; line-height:14px}
.main-services-item-link strong {display:block; margin:3px 0 -4px 0; font-weight:normal; font-size:32px; line-height:40px}

.main-projects {margin:112px 0 0 0}
.main-projects-header::after {content:""; display:block; clear:both}
.main-projects-header h2 {float:left; margin:0}
.main-projects-all {float:right; margin:34px 0 0 0; font-weight:600; font-size:16px; line-height:20px}
.main-projects-all a {color:#2586de}
.main-projects-all a:hover {color:#e43f6f}
.main-projects-anonce {margin:40px 0 0 0; max-width:936px; font-size:22px; line-height:31px}
.main-projects-list {margin:48px -12px -96px -12px; font-size:0; line-height:0; letter-spacing:-1px}
.main-projects-item {display:inline-block; vertical-align:top; width:50%; padding:0 12px 96px 12px}
.main-projects-item-preview img {display:block; width:100%; border-radius:10px}
.main-projects-item-date {margin:24px 0 0 0}
.main-projects-item-date span {display:inline-block; vertical-align:top; padding:0 16px; height:27px; border-radius:14px; background:#eef1f3; font-size:14px; line-height:27px; letter-spacing:0; color:#93979b}
.main-projects-item-title {margin:24px 52px 0 0; font-weight:600; font-size:24px; line-height:30px; letter-spacing:0; color:#000000}
.main-projects-item-date+.main-projects-item-title {margin-top:16px}
.main-projects-item-anonce {margin:16px 52px 0 0; font-size:16px; line-height:22px; letter-spacing:0; color:#868c92}
.main-projects-item-link {margin:16px 0 0 0; font-weight:600; font-size:16px; line-height:24px; letter-spacing:0}
.main-projects-item-link a {color:#2f80ed}
.main-projects-item-link a:hover {color:#e43f6f}
.main-projects-item-link a svg {display:inline-block; vertical-align:middle; width:24px; height:24px; margin:-2px 8px 0 0; fill:#2f80ed; transition:fill 0.2s}
.main-projects-item-link a:hover svg {fill:#e43f6f}
.main-projects-more {margin:96px 0 0 0; text-align:center}
.main-projects-more .btn {width:310px; font-size:16px; line-height:20px; position:relative}
.main-projects-more .btn.loading {pointer-events:none; cursor:default}
.main-projects-more .btn.loading::before {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(255, 255, 255, 0.3) url(../images/loading.svg) no-repeat center}
.main-projects-summ {margin:96px 0 0 0; border-top:1px solid #000000; padding:80px 0 0 0; text-align:center; font-size:0; line-height:0; letter-spacing:-1px}
.main-projects-summ-inner {margin:0 -12px}
.main-projects-summ-item {display:inline-block; vertical-align:top; width:33.33%; padding:0 12px}
.main-projects-summ-item-value {font-weight:600; font-size:56px; line-height:62px; color:#000000; letter-spacing:0}
.main-projects-summ-item-text {margin:6px 53px 0 53px; font-size:18px; line-height:27px; letter-spacing:0; color:rgba(34, 34, 34, 0.8)}

.main-widgets {margin:112px -226px 0 -226px; padding:96px 214px 80px 214px; background:#eef1f3; border-radius:32px}
.main-widgets-header::after {content:""; display:block; clear:both}
.main-widgets-header h2 {float:left; margin:0}
.main-widgets-all {float:right; margin:34px 0 0 0; font-weight:600; font-size:16px; line-height:20px}
.main-widgets-all a {color:#2586de}
.main-widgets-all a:hover {color:#e43f6f}
.main-widgets-anonce {margin:40px 0 0 0; max-width:936px; font-size:22px; line-height:31px}
.main-widgets-list {margin:48px 0 0 0}
.main-widgets-item {margin:48px 0 0 0; position:relative; padding:32px 0 32px 24px; border-radius:10px; color:#ffffff; overflow:hidden}
.main-widgets-item.hidden {display:none}
.main-widgets-item.green {background:#12aa73}
.main-widgets-item.orange {background:#ee854a}
.main-widgets-item.purple {background:#825c99}
.main-widgets-item.red {background:#f3665c}
.main-widgets-item-img {position:absolute; right:0; bottom:0; line-height:0}
.main-widgets-item-img img {display:block}
.main-widgets-item-type {padding:0 0 0 32px; position:relative; font-weight:600; font-size:14px; line-height:14px; letter-spacing:0.065em; color:rgba(255, 255, 255, 0.64); text-transform:uppercase}
.main-widgets-item-type svg {display:block; position:absolute; left:0; top:-2px; width:18px; height:18px; fill:#ffffff}
.main-widgets-item h4 {margin:24px 0 0 0; color:#ffffff}
.main-widgets-item-text {margin:16px 0 0 0; font-size:16px; line-height:22px; color:rgba(255, 255, 255, 0.8); max-width:552px}
.main-widgets-item-discount {margin:35px 0 0 0}
.main-widgets-item-discount span {display:inline-block; vertical-align:top; padding:5px 10px; background:rgba(255, 255, 255, 0.7); border-radius:12px; font-size:14px; line-height:14px; font-weight:600}
.main-widgets-item.green .main-widgets-item-discount span {color:#12aa73}
.main-widgets-item.orange .main-widgets-item-discount span {color:#ee854a}
.main-widgets-item.purple .main-widgets-item-discount span {color:#825c99}
.main-widgets-item.red .main-widgets-item-discount span {color:#f3665c}
.main-widgets-item-price {margin:40px 0 0 0; width:272px; border-top:1px solid #e5e6e8; padding:16px 0 0 0; position:relative}
.main-widgets-item-discount+.main-widgets-item-price {margin:16px 0 0 0}
.main-widgets-item-price::after {content:""; display:block; clear:both}
.main-widgets-item-price-old {position:absolute; left:0; top:2px; font-weight:600; font-size:16px; line-height:20px; color:rgba(255, 255, 255, 0.61)}
.main-widgets-item-price-old::after {content:""; display:block; position:absolute; left:0; top:50%; right:0; height:2px; margin-top:-1px; background:rgba(255, 255, 255, 0.3)}
.main-widgets-item-price-value {float:left; font-size:32px; line-height:40px}
.main-widgets-item-price-value span {margin:0 0 0 8px; font-size:16px; line-height:20px; font-weight:600; color:#eef1f3}
.main-widgets-item-price-free {float:right}
.main-widgets-item-price-free-value {float:left; font-size:32px; line-height:40px}
.main-widgets-item-price-free-text {float:left; width:93px; margin:7px 0 0 7px; font-size:14px; line-height:14px}
.main-widgets-item-btn {margin:16px 0 0 0}
.main-widgets-item-btn .btn {background:#fff; width:272px; padding-left:0; padding-right:0}
.main-widgets-item.green .btn {color:#12aa73}
.main-widgets-item.green .btn:hover {color:#0f9464}
.main-widgets-item.green .btn:active {color:#0e865a}
.main-widgets-item.orange .btn {color:#ff8a48}
.main-widgets-item.orange .btn:hover {color:#e77332}
.main-widgets-item.orange .btn:active {color:#e46d29}
.main-widgets-item.purple .btn {color:#825c99}
.main-widgets-item.purple .btn:hover {color:#6f4788}
.main-widgets-item.purple .btn:active {color:#603978}
.main-widgets-item.red .btn {color:#f3665c}
.main-widgets-item.red .btn:hover {color:#ee5146}
.main-widgets-item.red .btn:active {color:#dd463c}

.page-list-header {margin:64px 0 0 0; text-align:center}
.page-list-header h1 {margin:0}
.page-list-header-text {margin:32px auto 0 auto; max-width:940px; font-size:22px; line-height:31px}
.page-list-header-text span {color:#e43f6f}
.page-list-header-text a {color:#2f80ed}
.page-list-header-text a:hover {color:#e43f6f}
.page-list-header .main-projects-summ {margin:64px 0 0 0; padding:48px 0 0 0}

.audit {margin:112px -226px 0 -226px; padding:64px 226px; background:#eef1f3; border-radius:32px}
.audit::after {content:""; display:block; clear:both}
.audit-img {float:right; width:360px; line-height:0}
.audit-img img {display:block; width:100%}
.audit-content {float:left; width:700px; padding:33px 0 0 0}
.audit-content h4 {margin:0}
.audit-widget .audit-content h4 {max-width:537px}
.audit-text {margin:24px 0 48px 0; max-width:557px; font-size:20px; line-height:25px; color:rgba(0, 0, 0, 0.75)}
.audit-btn {margin:40px 0 0 0}

.widgets-clients {margin:112px 0 0 0}
.widgets-clients h2 {margin:0}
.widgets-clients-list {margin:22px -12px 0 -12px; font-size:0; line-height:0; letter-spacing:-1px}
.widgets-clients-item {display:inline-block; vertical-align:top; width:25%; padding:24px 12px 0 12px}
.widgets-clients-item-inner {display:block; height:112px; text-align:center; line-height:112px; background:#eef1f3; border-radius:10px}
.widgets-clients-item-inner img {display:inline-block; vertical-align:middle; max-height:100%}

.page-widgets {padding-top:64px; padding-bottom:64px}
.widgets-tabs {margin:-16px -8px 0 -8px; font-size:0; line-height:0; letter-spacing:-1px; text-align:center; position:relative; z-index:1}
.widgets-tabs a {display:inline-block; vertical-align:top; margin:16px 8px 0 8px; padding:10px 19px; background:#ffffff; border:1px solid rgba(0, 0, 0, 0.15); border-radius:20px; color:#222222; font-size:18px; line-height:18px; font-weight:600; letter-spacing:0; transition:color 0.2s, background 0.2s, border-color 0.2s}
.widgets-tabs a:hover {background:#eef1f3}
.widgets-tabs a.active {background:#000000; color:#ffffff; border-color:#000000}
.page-widgets .main-widgets-list {margin:40px 0 0 0}
.page-widgets .main-widgets-item {margin:80px 0 0 0}
.page-widgets .main-widgets-item:first-child {margin:0}

.widgets-list {margin:0 -12px; font-size:0; line-height:0; letter-spacing:-1px}
.widgets-list+.widgets-list {margin-top:56px}
.widgets-item {display:inline-block; vertical-align:top; width:100%; padding:24px 12px 0 12px}
.widgets-item.hidden {display:none}
.widgets-item.half {width:50%}
.widgets-item.third {width:33.33%}
.widgets-item-inner {border:1px solid #ade7d2; background:#ffffff; border-radius:10px; padding:32px 64px 28px 24px; letter-spacing:0}
.widgets-item-type {font-weight:600; font-size:14px; line-height:14px; letter-spacing:0.065em; text-transform:uppercase; color:#85888b}
.widgets-list.green .widgets-item-type {color:#12aa73}
.widgets-list.orange .widgets-item-type {color:#ff8a48}
.widgets-list.purple .widgets-item-type {color:#825c99}
.widgets-list.red .widgets-item-type {color:#f3665c}
.widgets-item-inner h5 {margin:24px 0 0 0}
.widgets-item.with-label .widgets-item-text {padding-bottom:40px}
.widgets-item-descr {margin:16px 0 0 0; font-size:16px; line-height:22px; color:#85888b}
.widgets-item-price {margin:40px 0 0 0; width:272px; border-top:1px solid #e5e6e8; padding:16px 0 0 0; position:relative}
.widgets-item-price::after {content:""; display:block; clear:both}
.widgets-item-discount {position:absolute; left:0; top:-41px}
.widgets-item-discount span {display:inline-block; vertical-align:top; padding:5px 10px; background:rgba(255, 255, 255, 0.15); border-radius:12px; font-size:14px; line-height:14px; font-weight:600}
.widgets-list.green .widgets-item-discount span {color:#12aa73; background:rgba(18, 170, 115, 0.15)}
.widgets-list.orange .widgets-item-discount span {color:#ee854a; background:rgba(255, 138, 72, 0.15)}
.widgets-list.purple .widgets-item-discount span {color:#825c99; background:rgba(130, 92, 153, 0.15)}
.widgets-list.red .widgets-item-discount span {color:#f3665c; background:rgba(243, 102, 92, 0.15)}
.widgets-item-newently {position:absolute; left:0; top:-41px}
.widgets-item-newently span {display:inline-block; vertical-align:top; padding:5px 10px; background:rgba(255, 255, 255, 0.15); border-radius:12px; font-size:14px; line-height:14px; font-weight:600}
.widgets-list.green .widgets-item-newently span {color:#12aa73; background:rgba(18, 170, 115, 0.15)}
.widgets-list.orange .widgets-item-newently span {color:#ee854a; background:rgba(255, 138, 72, 0.15)}
.widgets-list.purple .widgets-item-newently span {color:#825c99; background:rgba(130, 92, 153, 0.15)}
.widgets-list.red .widgets-item-newently span {color:#f3665c; background:rgba(243, 102, 92, 0.15)}
.widgets-item-price-old {position:absolute; left:0; top:2px; font-weight:600; font-size:16px; line-height:20px; color:#000000}
.widgets-item-price-old::after {content:""; display:block; position:absolute; left:0; top:50%; right:0; height:2px; margin-top:-1px; background:rgba(34, 34, 34, 0.3)}
.widgets-item-price-value {float:left; font-size:32px; line-height:40px}
.widgets-list.green .widgets-item-discount+.widgets-item-price-old+.widgets-item-price-value {color:#12aa73}
.widgets-list.orange .widgets-item-discount+.widgets-item-price-old+.widgets-item-price-value {color:#ee854a}
.widgets-list.purple .widgets-item-discount+.widgets-item-price-old+.widgets-item-price-value {color:#825c99}
.widgets-list.red .widgets-item-discount+.widgets-item-price-old+.widgets-item-price-value {color:#f3665c}
.widgets-item-price-value span {margin:0 0 0 8px; font-size:16px; line-height:20px; font-weight:600}
.widgets-item-price-free {float:right}
.widgets-item-price-free-value {float:left; font-size:32px; line-height:40px}
.widgets-item-price-free-text {float:left; width:93px; margin:7px 0 0 7px; font-size:14px; line-height:14px}
.widgets-item-btn {margin:16px 0 0 0}
.widgets-item-btn .btn {width:272px; padding-left:0; padding-right:0}

.page-services {margin-top:96px}

.consult {padding-top:55px; padding-bottom:55px}
.consult .order-img {width:552px}
.consult .order-content {padding:59px 0 0 0}

.project-header {position:relative; background:no-repeat center; background-size:cover; padding:64px 0; min-height:588px}
.project-header::before {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0 0.3)}
.project-header .container {position:relative}
.project-header-content {float:left; width:936px}
.project-header-back a {color:rgba(255, 255, 255, 0.59)}
.project-header-back a:hover {color:#ffffff}
.project-header-back a svg {display:inline-block; vertical-align:middle; margin:-2px 14px 0 0; width:24px; height:24px; fill:#ffffff}
.project-header-content h1 {font-size:56px; line-height:62px; margin:32px 0 0 0; color:#ffffff}
.project-header-text {margin:32px 0 0 0; max-width:715px; font-size:22px; line-height:31px; color:rgba(255, 255, 255, 0.7)}
.project-header-btn {margin:48px 0 0 0}
.project-header-logo {float:right; margin:59px 0 0 0; width:94px; height:94px; background:#ffffff; text-align:center; line-height:94px; border-radius:50%; position:relative; overflow:hidden}
.project-header-logo img {display:inline-block; vertical-align:middle; margin:-2px 0 0 0; max-height:100%}

.project-client {margin:80px 0 96px 0; text-align:center}
.project-client-header {font-weight:600; font-size:14px; line-height:14px; letter-spacing:0.065em; color:#93979b; text-transform:uppercase}
.project-client h3 {margin:24px auto 0 auto; max-width:743px}
.project-client-text {margin:16px auto 0 auto; max-width:743px; font-size:22px; line-height:31px}
.project-client-info {margin:64px 0 0 0; border-top:1px solid #000000; border-bottom:1px solid #000000; padding:48px 0}
.project-client-info::after {content:""; display:block; clear:both}
.project-client-info-item {float:left; width:33.33%}
.project-client-info-item-value {font-weight:600; font-size:56px; line-height:62px; color:#000000}
.project-client-info-item-text {max-width:310px; margin:6px auto 0 auto; opacity:0.9}

.page {margin:80px 0 0 0}
.page::after {content:""; display:block; clear:both}
.page-menu {float:right; width:234px}
.page-menu-inner {position:relative}
.page-menu.fixed .page-menu-inner {position:fixed; top:120px; width:234px}
.page-menu-title {text-transform:uppercase; font-weight:600; font-size:14px; line-height:14px; letter-spacing:0.065em; color:#93979b}
.page-menu ol {margin:38px 0 0 0; padding:0; font-size:16px; line-height:22px}
.page-menu ol li {margin:16px 0 0 0; padding:0 0 0 40px}
.page-menu ol li::before {content:counter(point); width:24px; height:24px; border:1px solid rgba(147, 151, 155, 0.22); border-radius:50%; color:#93979b; text-align:center}
.page-menu ol li a {color:#93979b; text-decoration:none}
.page-menu ol li a:hover {color:#e43f6f}
.page-container {float:left; width:742px}
.page-container > *:first-child {margin-top:0}
.page-container > *:last-child {margin-bottom:0}

.page-block {margin:112px -612px 0 -226px; padding:80px 612px 64px 226px; background:#eef1f3; border-radius:32px}
.page-block > *:first-child {margin-top:0}
.page-block > *:last-child {margin-bottom:0}

ol.page-list {margin:24px 0}
ol.page-list li {margin:24px 0; padding:0 0 0 48px}
.page-container ol.page-list:first-child li:first-child {margin-top:0}
ol.page-list li::before {content:counter(point); width:24px; height:24px; border-radius:50%; color:#ffffff; line-height:24px; text-align:center; font-size:16px; font-weight:600}
ol.page-list.blue li::before {background:#2f80ed}
ol.page-list.rose li::before {background:#e43f6f}
ol.page-list.green li::before {background:#12aa73}
ol.page-list.orange li::before {background:#ee854a}
ol.page-list.purple li::before {background:#825c99}
ol.page-list.red li::before {background:#f3665c}
ol.page-list h5 {margin:0 0 16px 0}

.project-card {margin:64px 0 112px 0; background:#ffffff; box-shadow:0px 24px 64px -12px rgba(5, 23, 62, 0.05); border-radius:32px; padding:64px 48px}
.page-container .project-card {margin-right:-96px; padding-right:96px}
.project-card+.project-card {margin-top:-88px}
.project-card h5 {margin:0}
.project-card-persone {margin:40px 0 0 0; display:table; width:100%; border-collapse:collapse}
.project-card-persone-avatar {display:table-cell; vertical-align:middle; line-height:0; width:64px}
.project-card-persone-avatar-inner {position:relative; width:64px; overflow:hidden; border-radius:50%}
.project-card-persone-avatar-inner::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; border:2px solid #222222; box-shadow:inset 0px 0px 15px 2px #ffffff; border-radius:50%}
.project-card-persone-avatar.blue .project-card-persone-avatar-inner::after {border-color:#2f80ed}
.project-card-persone-avatar.rose .project-card-persone-avatar-inner::after {border-color:#e43f6f}
.project-card-persone-avatar-inner img {display:block; width:100%; border-radius:50%}
.project-card-persone-text {display:table-cell; vertical-align:middle; padding:0 0 0 24px; font-weight:600; font-size:16px; line-height:20px}
.project-card-text {margin:16px 0 0 0}
.project-card-text > *:first-child {margin-top:0}
.project-card-text > *:last-child {margin-bottom:0}

.video-block {margin:64px 0}
h3+.video-block {margin-top:48px}
.project-card+.video-block {margin-top:-48px}
.video-block-link {display:block; text-decoration:none; color:#ffffff; border-radius:32px; padding:30px 228px 78px 40px; position:relative; min-height:264px}
.page-block .video-block-link {margin-right:-96px; padding-right:324px}
.video-block-link:hover {color:#fff}
.video-block-link.blue {background:#70a8f3}
.video-block-link.green {background:#12aa73}
.video-block-link.orange {background:#ee854a}
.video-block-link.purple {background:#825c99}
.video-block-link.red {background:#f3665c}
.video-block-link-header {text-transform:uppercase; font-weight:600; font-size:14px; line-height:14px; letter-spacing:0.065em; color:rgba(255, 255, 255, 0.64)}
.video-block-link-title {margin:18px 0 0 0; font-size:32px; line-height:40px}
.video-block-link-view {position:absolute; right:150px; bottom:75px; font-weight:600; font-size:16px; line-height:20px}
.video-block-link svg {display:block; position:absolute; right:32px; bottom:32px; width:100px; height:100px}
.video-block-link.blue svg {fill:#70a8f3}
.video-block-link.green svg {fill:#12aa73}
.video-block-link.orange svg {fill:#ee854a}
.video-block-link.purple svg {fill:#825c99}
.video-block-link.red svg {fill:#f3665c}
.video-block-more {margin:24px 0 0 0; font-size:16px; line-height:20px; font-weight:600}
.video-block-more a {color:#93979b}
.video-block-more a:hover {color:#e43f6f}
.video-block-more a svg {display:inline-block; vertical-align:middle; margin:-2px 8px 0 0; width:24px; height:24px; fill:#93979b}
.video-block-more a:hover svg {color:#e43f6f}

.other-projects {margin:90px 0 0 0}
.service-projects {margin:112px 0 0 0}
.other-projects-header::after {content:""; display:block; clear:both}
.other-projects-header h2 {float:left; margin:0}
.other-projects-all {float:right; margin:33px 0 0 0; font-weight:600; font-size:16px; line-height:20px}
.other-projects-all a {color:#2f80ed}
.other-projects-all a:hover {color:#e43f6f}

.other-projects .main-projects-list {margin:48px -12px 0 -12px; white-space:nowrap; position:relative; overflow:hidden}
.other-projects .main-projects-list.slick-initialized {overflow:visible}
.other-projects .main-projects-item {white-space:normal}
.other-projects .main-projects-list .slick-prev,
.other-projects .main-projects-list .slick-next {display:block; position:absolute; z-index:2; top:155px; width:48px; height:48px; border:none; border-radius:0; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:transparent}
.other-projects .main-projects-list .slick-prev {left:-10px; transform:scale(-1, 1)}
.other-projects .main-projects-list .slick-next {right:-10px}
.other-projects .main-projects-list .slick-prev.slick-disabled,
.other-projects .main-projects-list .slick-next.slick-disabled {display:none !important}
.other-projects .main-projects-list .slick-prev::before,
.other-projects .main-projects-list .slick-next::before {content:""; display:block; width:48px; height:48px; position:absolute; left:0; top:0; background:#ffffff; border-radius:50%; box-shadow:0px 5px 12px rgba(0, 0, 0, 0.1)}
.other-projects .main-projects-list .slick-prev svg {display:block; position:absolute; left:0; top:0; width:48px; height:48px; fill:#222222; transition:fill 0.2s}
.other-projects .main-projects-list .slick-next svg {display:block; position:absolute; left:0; top:0; width:48px; height:48px; fill:#222222; transition:fill 0.2s}
.other-projects .main-projects-list .slick-prev:hover svg,
.other-projects .main-projects-list .slick-next:hover svg {fill:#e43f6f}

.widget-header {padding:64px 0; min-height:613px; position:relative; color:#ffffff; overflow:hidden}
.widget-header-bg {position:absolute; left:50%; margin-left:243px; bottom:0; width:717px; line-height:0}
.widget-header-bg img {display:block; width:100%}
.widget-header.green {background:#12aa73}
.widget-header.orange {background:#ee854a}
.widget-header.purple {background:#825c99}
.widget-header.red {background:#f3665c}
.widget-header-content {max-width:630px; position:relative}
.widget-header-content h1 {margin:32px 0 0 0; font-size:56px; line-height:62px; color:#ffffff}
.widget-header-text {margin:32px 0 0 0; max-width:550px; font-size:22px; line-height:31px; color:rgba(255, 255, 255, 0.7)}
.widget-header .main-widgets-item-price {margin:32px 0 0 0; width:300px; padding-right:28px}
.widget-header .main-widgets-item-btn .btn {width:300px}
.widget-header.green .btn {color:#12aa73}
.widget-header.green .btn:hover {color:#0f9464}
.widget-header.green .btn:active {color:#0e865a}
.widget-header.orange .btn {color:#ff8a48}
.widget-header.orange .btn:hover {color:#e77332}
.widget-header.orange .btn:active {color:#e46d29}
.widget-header.purple .btn {color:#825c99}
.widget-header.purple .btn:hover {color:#6f4788}
.widget-header.purple .btn:active {color:#603978}
.widget-header.red .btn {color:#f3665c}
.widget-header.red .btn:hover {color:#ee5146}
.widget-header.red .btn:active {color:#dd463c}

.widget-how {margin:80px 0 112px 0; text-align:center}
.widget-how h3 {margin:0}
.widget-how-tabs {margin:48px 0 0 0}
.widget-how-tabs-menu {font-size:0; line-height:0; letter-spacing:-1px}
.widget-how-tabs-menu ul {margin:0; padding:0; list-style:none}
.widget-how-tabs-menu ul li {display:inline-block; vertical-align:top; margin:0 0 0 16px; padding:0}
.widget-how-tabs-menu ul li:first-child {margin:0}
.widget-how-tabs-menu ul li::before {display:none}
.widget-how-tabs-menu ul li a {display:block; height:40px; border:1px solid rgba(0, 0, 0, 0.15); border-radius:20px; color:#222222; padding:0 20px; font-weight:600; font-size:18px; line-height:38px; letter-spacing:0; transition:color 0.2s, background 0.2s, border-color 0.2s}
.widget-how-tabs-menu ul li a:hover {background:#eef1f3}
.widget-how-tabs-menu ul li.active a {color:#fff}
.widget-how-tabs-menu.green ul li.active a {background:#12aa73; border-color:#12aa73}
.widget-how-tabs-menu.orange ul li.active a {background:#ff8a48; border-color:#ff8a48}
.widget-how-tabs-menu.purple ul li.active a {background:#825c99; border-color:#825c99}
.widget-how-tabs-menu.red ul li.active a {background:#f3665c; border-color:#f3665c}
.widget-how-tabs-container {margin:48px 0 0 0; position:relative}
.widget-how-tabs-content {position:absolute; left:-9999px; top:-9999px; width:100%; opacity:0; transition:opacity 0.5s}
.widget-how-tabs-content.active {position:relative; left:auto; top:auto; opacity:1}
.widget-how-text {font-size:22px; line-height:31px}
.widget-how-img {margin:48px 0 0 0; line-height:0; position:relative}
.widget-how-img::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; border-radius:12px; box-shadow:inset 4px 4px 47px rgba(0, 0, 0, 0.06)}
.widget-how-img img {display:block; width:100%; border-radius:12px}

.page-section-title {margin:112px 0 0 0; font-weight:600; font-size:14px; line-height:14px; letter-spacing:0.065em; text-transform:uppercase}
.page-section-title.green {color:#12aa73}
.page-section-title.orange {color:#ff8a48}
.page-section-title.purple {color:#825c99}
.page-section-title.red {color:#f3665c}
.page-section-title+h2 {margin-top:40px}

.page-section-img {margin:48px 0; line-height:0; position:relative}
.page-container .page-section-img {margin-right:-96px}
.page-section-img::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; box-shadow:inset 4px 4px 47px rgba(0, 0, 0, 0.06)}
.page-section-img img {display:block; width:100%}

.widget-updates {margin:96px -96px 0 0; padding:48px 0 0 48px; background:#eef1f3; border-radius:32px; position:relative; overflow:hidden}
.widget-updates h2 {margin:0 48px 0 0}
.widget-updates-list {margin:48px 0 0 0; position:relative; max-height:317px; overflow:auto}
.widget-updates-list.with-top::before {content:""; display:block; position:absolute; z-index:1; left:0; top:0; right:48px; height:56px; background:linear-gradient(180deg, #eef1f3 0%, rgba(238, 241, 243, 0) 100%); pointer-events:none}
.widget-updates-list.with-bottom::after {content:""; display:block; position:absolute; z-index:1; left:0; bottom:0; right:48px; height:56px; background:linear-gradient(0deg, #eef1f3 0%, rgba(238, 241, 243, 0) 100%); pointer-events:none}
.widget-updates-list .mCSB_inside > .mCSB_container {margin:0}
.widget-updates-list .mCSB_scrollTools {width:6px; right:9px}
.widget-updates-list .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:6px; background:#93979b; border-radius:0}
.widget-updates-list .mCSB_scrollTools .mCSB_draggerRail {width:6px; background:transparent; border-radius:0}
.widget-updates-item {padding:0 82px 32px 0}
.widget-updates-item::after {content:""; display:block; clear:both}
.widget-updates-item-date {float:left; color:#93979b}
.widget-updates-item-text {margin:0 0 0 145px}

.widget-reviews {margin:48px -96px 48px 0; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative; overflow:hidden}
.widget-reviews.slick-initialized {overflow:visible}
.widget-reviews-item {display:inline-block; vertical-align:top; width:384px; white-space:normal; padding:0 24px 0 0}
.widget-reviews-item-inner {display:block; width:360px; border-radius:32px; padding:40px 24px}
.widget-reviews.green .widget-reviews-item-inner {background:#12aa73}
.widget-reviews.orange .widget-reviews-item-inner {background:#ff8a48}
.widget-reviews.purple .widget-reviews-item-inner {background:#825c99}
.widget-reviews.red .widget-reviews-item-inner {background:#f3665c}
.widget-reviews-item-rating {position:relative; white-space:nowrap; font-size:0; line-height:0; width:160px}
.widget-reviews-item-rating svg {display:inline-block; vertical-align:top; width:24px; height:24px; fill:#eef1f3; margin:0 8px 0 0}
.widget-reviews-item-rating-value {position:absolute; left:0; top:0; height:24px; overflow:hidden}
.widget-reviews-item-rating-value svg {fill:#ffffff}
.widget-reviews-item-text {margin:24px 0 0 0; font-size:18px; line-height:27px; letter-spacing:0; color:#ffffff}
.widget-reviews-item-author {margin:24px 0 0 0; font-size:18px; line-height:27px; letter-spacing:0; color:rgba(255, 255, 255, 0.54)}
.widget-reviews-item-date {margin:4px 0 0 0; font-size:18px; line-height:27px; letter-spacing:0; color:rgba(255, 255, 255, 0.54)}
.widget-reviews .slick-prev,
.widget-reviews .slick-next {display:block; position:absolute; z-index:2; top:0; width:71px; height:100%; border:none; border-radius:0; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:transparent}
.widget-reviews .slick-prev {left:0; background:linear-gradient(261.7deg, #ffffff -62.72%, rgba(255, 255, 255, 0.732646) 0.6%, rgba(255, 255, 255, 0) 92.24%); transform:scale(-1, 1)}
.widget-reviews .slick-next {right:0; background:linear-gradient(261.7deg, #ffffff -62.72%, rgba(255, 255, 255, 0.732646) 0.6%, rgba(255, 255, 255, 0) 92.24%)}
.widget-reviews .slick-prev.slick-disabled,
.widget-reviews .slick-next.slick-disabled {display:none !important}
.widget-reviews .slick-prev::before,
.widget-reviews .slick-next::before {content:""; display:block; width:48px; height:48px; position:absolute; left:47px; top:50%; margin-top:-24px; background:#ffffff; border-radius:50%; box-shadow:0px 5px 12px rgba(0, 0, 0, 0.1)}
.widget-reviews .slick-prev svg {display:block; position:absolute; left:47px; top:50%; margin-top:-24px; width:48px; height:48px; fill:#222222; transition:fill 0.2s}
.widget-reviews .slick-next svg {display:block; position:absolute; left:47px; top:50%; margin-top:-24px; width:48px; height:48px; fill:#222222; transition:fill 0.2s}
.widget-reviews .slick-prev:hover svg,
.widget-reviews .slick-next:hover svg {fill:#e43f6f}

.widget-clients {margin:-24px -96px 0 0}
.widget-clients .widgets-clients-item {width:33.33%}

.widget-install {margin:112px -226px 0 -226px; padding:64px 517px 72px 226px; border-radius:32px; position:relative; overflow:hidden; color:#ffffff}
.widget-install-bg {position:absolute; left:50%; top:170px; margin-left:157px; width:408px}
.widget-install-bg img {display:block; width:100%}
.widget-install.green {background:#12aa73}
.widget-install.orange {background:#ff8a48}
.widget-install.purple {background:#825c99}
.widget-install.red {background:#f3665c}
.widget-install-content {position:relative}
.widget-install h2 {margin:0; color:#ffffff}
.widget-install-text {margin:40px 0 0 0; max-width:513px; font-size:20px; line-height:28px; color:#ffffff}
.widget-install .main-widgets-item-price {margin:24px 0 0 0; width:300px; padding-right:28px}
.widget-install .main-widgets-item-btn .btn {width:300px}
.widget-install.green .btn {color:#12aa73}
.widget-install.green .btn:hover {color:#0f9464}
.widget-install.green .btn:active {color:#0e865a}
.widget-install.orange .btn {color:#ff8a48}
.widget-install.orange .btn:hover {color:#e77332}
.widget-install.orange .btn:active {color:#e46d29}
.widget-install.purple .btn {color:#825c99}
.widget-install.purple .btn:hover {color:#6f4788}
.widget-install.purple .btn:active {color:#603978}
.widget-install.red .btn {color:#f3665c}
.widget-install.red .btn:hover {color:#ee5146}
.widget-install.red .btn:active {color:#dd463c}

.widget-others {margin:64px -226px 0 -226px; padding:72px 226px; background:#eef1f3; border-radius:32px}
.widget-others h2 {margin:0; text-align:center}

.widgets-others-list {margin:56px -12px 0 -12px; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative; overflow:hidden}
.widgets-others-list.slick-initialized {overflow:visible}
.widgets-others-item {display:inline-block; vertical-align:top; width:33.33%; padding:0 12px; white-space:normal}
.widgets-others-item.green .widgets-item-type {color:#12aa73}
.widgets-others-item.orange .widgets-item-type {color:#ff8a48}
.widgets-others-item.purple .widgets-item-type {color:#825c99}
.widgets-others-item.red .widgets-item-type {color:#f3665c}
.widgets-others-item.with-label .widgets-item-text {padding-bottom:40px}
.widgets-others-item.green .widgets-item-discount span {color:#12aa73; background:rgba(18, 170, 115, 0.15)}
.widgets-others-item.orange .widgets-item-discount span {color:#ee854a; background:rgba(255, 138, 72, 0.15)}
.widgets-others-item.purple .widgets-item-discount span {color:#825c99; background:rgba(130, 92, 153, 0.15)}
.widgets-others-item.red .widgets-item-discount span {color:#f3665c; background:rgba(243, 102, 92, 0.15)}
.widgets-others-item.green .widgets-item-newently span {color:#12aa73; background:rgba(18, 170, 115, 0.15)}
.widgets-others-item.orange .widgets-item-newently span {color:#ee854a; background:rgba(255, 138, 72, 0.15)}
.widgets-others-item.purple .widgets-item-newently span {color:#825c99; background:rgba(130, 92, 153, 0.15)}
.widgets-others-item.red .widgets-item-newently span {color:#f3665c; background:rgba(243, 102, 92, 0.15)}
.widgets-others-item.green .widgets-item-discount+.widgets-item-price-old+.widgets-item-price-value {color:#12aa73}
.widgets-others-item.orange .widgets-item-discount+.widgets-item-price-old+.widgets-item-price-value {color:#ee854a}
.widgets-others-item.purple .widgets-item-discount+.widgets-item-price-old+.widgets-item-price-value {color:#825c99}
.widgets-others-item.red .widgets-item-discount+.widgets-item-price-old+.widgets-item-price-value {color:#f3665c}
.widgets-others-list .slick-prev,
.widgets-others-list .slick-next {display:block; position:absolute; z-index:2; top:50%; width:48px; height:48px; border:none; border-radius:0; margin:-24px 0 0 0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:transparent}
.widgets-others-list .slick-prev {left:-10px; transform:scale(-1, 1)}
.widgets-others-list .slick-next {right:-10px}
.widgets-others-list .slick-prev.slick-disabled,
.widgets-others-list .slick-next.slick-disabled {display:none !important}
.widgets-others-list .slick-prev::before,
.widgets-others-list .slick-next::before {content:""; display:block; width:48px; height:48px; position:absolute; left:0; top:0; background:#ffffff; border-radius:50%; box-shadow:0px 5px 12px rgba(0, 0, 0, 0.1)}
.widgets-others-list .slick-prev svg {display:block; position:absolute; left:0; top:0; width:48px; height:48px; fill:#222222; transition:fill 0.2s}
.widgets-others-list .slick-next svg {display:block; position:absolute; left:0; top:0; width:48px; height:48px; fill:#222222; transition:fill 0.2s}
.widgets-others-list .slick-prev:hover svg,
.widgets-others-list .slick-next:hover svg {fill:#e43f6f}

.contacts {margin:26px -12px 0 -12px; font-size:0; line-height:0; letter-spacing:-1px}
.contacts-item {display:inline-block; vertical-align:top; padding:24px 12px 0 12px; width:33.33%}
.contacts-item.wide {width:66.66%}
.contacts-item-inner {background:#ffffff; border:1px solid #f4f4f4; border-radius:10px; box-shadow:0px 24px 64px -12px rgba(5, 23, 62, 0.05); padding:22px; font-size:18px; line-height:27px; letter-spacing:0; min-height:172px}
.contacts-item-inner h5 {margin:0 0 16px 0}
.contacts-item-inner p {margin:0; padding:0}

.feedback {margin:112px -226px 0 -226px; padding:96px 226px 122px 226px; background:#eef1f3; border-radius:32px}
.faq+.feedback {margin-top:64px}
.feedback h2 {margin:0; text-align:center}
.feedback-anonce {margin:37px 0 0 0; font-size:22px; line-height:31px; text-align:center}
.feedback-form {margin:48px auto 0 auto; max-width:552px}
.feedback-form form {margin:0; padding:0}

.page-404 {height:831px; background:#000000 url(../images/page-404.png) no-repeat center top; background-size:cover; text-align:center; color:#ffffff; padding:112px 0 0 0}
.page-404 h1 {margin:0 0 33px 0; color:#ffffff}
.page-404 h4 {margin:5px 0 0 0; color:#ffffff}
.page-404 a {color:#e43f6f}
.page-404 a:hover {color:#2f80ed}

.window-open,
.window-open body {overflow:hidden; position:fixed; left:0; top:0; right:0; bottom:0}

.window {position:fixed; left:0; top:0; right:0; bottom:0; overflow:hidden; z-index:999; background:rgba(0, 0, 0, 0.7); text-align:center}
.window::before {content:""; display:inline-block; height:100%; vertical-align:middle}
.window-loading {position:absolute; left:50%; top:50%; width:91px; height:91px; margin:-45px 0 0 -45px; background:url(../images/loading.svg) no-repeat center}
.window-container {display:inline-block; vertical-align:middle; position:relative; text-align:left; background:#ffffff; transition:transform 0.3s; transform:scale(1); border-radius:32px; box-shadow:0px 24px 64px -12px rgba(5, 23, 62, 0.05)}
.window-container-preload {transform:scale(1)}
.window-content {background:#ffffff; position:relative; overflow:auto}
.window-close {display:block; position:absolute; right:24px; top:24px; width:32px; height:32px}
.window-close svg {display:block; width:32px; height:32px; fill:#222222; transition:fill 0.2s}
.window-close:hover svg {fill:#e43f6f}

.window-success {width:743px; padding:48px 60px 56px 60px; text-align:center}
.window-success h2 {margin:0 auto; max-width:474px}
.window-success-text {margin:32px auto 0 auto; max-width:474px; font-size:22px; line-height:31px}
.window-success-btn {margin:32px auto 0 auto; max-width:266px}
.window-success-btn .btn {width:100%}

.article-header {background:#eef1f3; padding:64px 0}
.article-header-back a {color:#000000}
.article-header-back a:hover {color:#e43f6f}
.article-header-back a svg {display:inline-block; vertical-align:middle; margin:-2px 14px 0 0; width:24px; height:24px; fill:#222222}
.article-header h1 {font-size:56px; line-height:62px; margin:32px 0 0 0}
.article-header-info {margin:40px 0 0 -8px}
.article-header-info::after {content:""; display:block; clear:both}
.article-header-info-item {float:left; margin:0 0 0 8px; padding:0 16px; height:27px; border-radius:14px; font-size:14px; background:#ffffff; color:#93979b}

.service-who {margin:155px -226px 0 -226px; background:#eef1f3; border-radius:32px; padding:64px 226px}
.service-who h3 {margin:0}
.service-who-list {margin:24px -12px 0 -12px; font-size:0; line-height:0; letter-spacing:-1px}
.service-who-item {display:inline-block; vertical-align:top; width:33.33%; padding:24px 12px 0 12px}
.service-who-item-inner {padding:24px 61px 72px 24px; background:#ffffff; border-radius:10px; letter-spacing:0}
.service-who-item-inner h5 {margin:0}
.service-who-item-text {margin:24px 0 0 0; font-size:16px; line-height:22px; letter-spacing:0; color:#93979b}

.service-how {margin:112px 0}
.service-how::after {content:""; display:block; clear:both}
.service-how-side {float:left; width:456px}
.service-how-side.fixed .service-how-side-inner {position:fixed; top:120px; width:456px}
.service-how-side-inner h2 {margin:0}
.service-how-side-img {margin:40px 0 0 0; line-height:0}
.service-how-side-img img {display:block; width:100%}
.service-how-container {float:right; width:552px}
.service-how-anonce {font-size:22px; line-height:31px}
.service-how-list {position:relative; margin:93px 0 0 0; counter-reset:point}
.service-how-item {position:relative; padding:0 0 0 96px; margin:36px 0 0 0; color:#858181}
.service-how-item:first-child {margin:0}
.service-how-item::before {content:counter(point); counter-increment:point 1; position:absolute; left:0; top:-13px; width:48px; height:48px; background:#dbeaff; border-radius:50%; text-align:center; font-weight:600; font-size:24px; line-height:48px; color:#2f80ed}
.service-how-item::after {content:""; display:block; position:absolute; left:24px; top:51px; bottom:-12px; width:1px; background:#2586de}
.service-how-item:last-child::after {display:none}
.service-how-item-title {font-weight:600; font-size:20px; line-height:25px; color:#000000; margin:0 0 16px 0}
.service-how-item p {margin:0; padding:0}
.service-how-item ul {margin:0; padding:0}
.service-how-item ul li {margin:0; padding:0 0 0 27px}
.service-how-item ul li::before {content:"•"; left:10px; top:0; background:none; border-radius:0; width:auto; height:auto}

.section-short {max-width:841px}

.service-reviews {margin:48px -12px; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; position:relative; overflow:hidden}
.service-reviews.slick-initialized {overflow:visible}
.service-reviews-item {display:inline-block; vertical-align:top; width:33.33%; white-space:normal; padding:0 12px}
.service-reviews-item-inner {display:block; border-radius:32px; padding:40px 24px 60px 24px; background:#eef1f3}
.service-reviews-item-rating {position:relative; white-space:nowrap; font-size:0; line-height:0; width:160px}
.service-reviews-item-rating svg {display:inline-block; vertical-align:top; width:24px; height:24px; fill:#ffffff; margin:0 8px 0 0}
.service-reviews-item-rating-value {position:absolute; left:0; top:0; height:24px; overflow:hidden}
.service-reviews-item-rating-value svg {fill:#e43f6f}
.service-reviews-item-text {margin:24px 0 0 0; font-size:18px; line-height:27px; letter-spacing:0; color:#000000}
.service-reviews-item-author {margin:24px 0 0 0; font-size:14px; line-height:17px; letter-spacing:0.015em; color:#93979b}
.service-reviews-item-date {margin:4px 0 0 0; font-size:14px; line-height:17px; letter-spacing:0.015em; color:#93979b}
.service-reviews .slick-prev,
.service-reviews .slick-next {display:block; position:absolute; z-index:2; top:50%; width:48px; height:48px; border:none; border-radius:0; margin:-24px 0 0 0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:transparent}
.service-reviews .slick-prev {left:-10px; transform:scale(-1, 1)}
.service-reviews .slick-next {right:-10px}
.service-reviews .slick-prev.slick-disabled,
.service-reviews .slick-next.slick-disabled {display:none !important}
.service-reviews .slick-prev::before,
.service-reviews .slick-next::before {content:""; display:block; width:48px; height:48px; position:absolute; left:0; top:0; background:#ffffff; border-radius:50%; box-shadow:0px 5px 12px rgba(0, 0, 0, 0.1)}
.service-reviews .slick-prev svg {display:block; position:absolute; left:0; top:0; width:48px; height:48px; fill:#222222; transition:fill 0.2s}
.service-reviews .slick-next svg {display:block; position:absolute; left:0; top:0; width:48px; height:48px; fill:#222222; transition:fill 0.2s}
.service-reviews .slick-prev:hover svg,
.service-reviews .slick-next:hover svg {fill:#e43f6f}

.faq {margin:112px -226px 0 -226px; padding:88px 226px; background:#eef1f3; border-radius:32px}
.faq h2 {margin:0; text-align:center}
.faq-list {margin:48px 0 0 0}
.faq-item {margin:16px 0 0 0; background:#ffffff; box-shadow:0px 24px 64px -12px rgba(5, 23, 62, 0.05); border-radius:32px}
.faq-item-title {display:block; padding:48px 112px 48px 48px; font-weight:600; font-size:24px; line-height:30px; color:#000000; position:relative; border-radius:32px}
.faq-list-career .faq-item-title {padding-right:314px}
.faq-item.open .faq-item-title,
.faq-item-title:hover {color:#e43f6f}
.faq-item-title svg {display:block; position:absolute; right:48px; top:48px; width:32px; height:32px; fill:#222222; transition:fill 0.2s}
.faq-item-title:hover svg {fill:#e43f6f}
.faq-item-title svg.faq-item-close-icon {display:none}
.faq-item.open .faq-item-title svg.faq-item-open-icon {display:none}
.faq-item.open .faq-item-title svg.faq-item-close-icon {display:block}
.faq-item-city {position:absolute; right:90px; top:50px; font-weight:normal; font-size:18px; line-height:28px; color:#93979b; width:176px}
.faq-item-content {display:none; max-width:648px; margin:-8px 0 0 48px; padding:0 0 48px 0}
.faq-item.open .faq-item-content {display:block}
.faq-item-content > *:first-child {margin-top:0}
.faq-item-content > *:last-child {margin-bottom:0}
.faq-item-btn {margin:40px 0}

.career-header {position:relative; padding:64px 0; min-height:562px; text-align:center; color:#ffffff; height:calc(100vh - 176px)}
.career-header-bg {position:absolute; left:0; top:0; right:0; bottom:0; background:no-repeat center; background-size:cover}
.career-header-bg::before {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.5)}
.career-header-content {position:absolute; left:50%; top:50%; width:670px; transform:translate(-50%, -50%)}
.career-header-content h1 {margin:0; color:#fff}
.career-header-content h4 {margin:64px 0 0 0; color:#fff}
.career-header-btns {margin:64px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px}
.career-header-btns .btn {width:266px; padding-left:0; padding-right:0; margin:0 5px}
.career-header-btns .btn span {font-weight:normal; font-size:14px; line-height:14px; vertical-align:top; display:inline-block; margin:-2px 0 0 2px}
.career-header-btns .btn.inverse {color:#e43f6f}
.career-header-btns .btn.inverse:hover {color:#ee1657}
.career-header-btns .btn.inverse:active {color:#e01451}

.career-anonce {max-width:743px; margin:80px auto 0 auto; text-align:center; font-size:22px; line-height:31px}

.career-prefs {margin:24px -12px 112px -12px; font-size:0; line-height:0; letter-spacing:-1px; counter-reset:point}
.career-pref {display:inline-block; vertical-align:top; width:33.33%; padding:24px 12px 0 12px}
.career-pref-inner {background:#ffffff; border:1px solid #f4f4f4; box-shadow:0px 24px 64px -12px rgba(5, 23, 62, 0.05); border-radius:10px; padding:24px; min-height:144px}
.career-pref-inner::before {content:counter(point); counter-increment:point 1; display:block; width:24px; height:24px; margin:0 0 17px 0; border-radius:50%; background:#e43f6f; color:#ffffff; font-weight:600; font-size:16px; line-height:24px; text-align:center; padding-right:2px}
.career-pref-inner h6 {margin:0}

.career-photos {margin:64px -12px; font-size:0; line-height:0; letter-spacing:-1px}
.career-photo {display:inline-block; vertical-align:top; width:50%; padding:0 12px}
.career-photo:nth-child(2) {padding-top:88px}
.career-photo img {display:block; width:100%}
.career-photo img+img {margin-top:62px}
.career-photo-big {margin:64px 0; line-height:0}
.career-photo-big+.career-photos {margin-top:-12px}
.career-photo-big img {display:block; width:100%}

.career-hh {display:block; margin:64px -226px 0 -226px; text-align:center; padding:79px 0; background:#222222; border-radius:32px; color:#ffffff; text-decoration:none; font-weight:600; font-size:56px; line-height:62px}
.career-hh svg {display:inline-block; vertical-align:middle; margin:-2px 0 0 90px; width:70px; height:70px; fill:#ffffff}